
body{
    background-color: rgb(102, 153, 0);
    margin: 17px 0 15px 0;
    text-align: center;
}

.form-container{
    width: 40rem;
    background-color: white;
    justify-content: center;
    margin: 0 auto 5px auto;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 1px 1px 0.5px black;
}
.logo{
    height: 5rem;
    background-color: rgb(151, 199, 56);
    
}
.info h2{
    font-size: medium;
    letter-spacing: 0.1em;
    padding: 0px 6px 16px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin: 0 0 0 0 ;
}
.info{
    border-bottom: 1px dotted #CCCCCC;
    margin: 0 0 5px;

}
#title-section{
    padding: 7px 0 0 ;
}
ul{
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}
.infos h2{
    font-size: normal;
    letter-spacing: 0.01em;
    padding: 8px 14px 0 5px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 0 0 3px 0 ;
    border-top: 1px dotted #CCCCCC;
}

/* li.focused {
    background-color: #FFF7C0 !important; for active color
} */


.form{
    margin: 20px 14px 0 14px;
    padding: 0 0 20px 0;
    position: relative;
    letter-spacing: .01em;
}



.form label.description{
    font-size: 12.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #444444 !important;
    line-height: 152%;
    margin: 0;
    padding: 0 0 3px 0;
    border: none;
    display: block;
    white-space: normal;
    width: 100%;
}

/* #title1.focus-within::selection{
    background-color: #FFF7C0 !important;    
} */
.form li{
    margin: 0;
    padding: 6px 1% 9px 1%;
    clear: both;
    background-color: transparent;
    position: relative;
}

.loan-amount{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.symbol {
    font-size: 15px;
    line-height: 135%;
    margin: 0 5px 0 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.select{
    margin-top: 1px;
    padding: 1px 2px;
    width: 50%;
    font-size: 12px;
    box-shadow: inset 0px 0.8px 0.4px 0px rgba(0, 0, 0, 0.5);
}
.form-item{
    padding: 15px;    
	margin-bottom: 10px;    
	border: 1px solid #ccc;    
	transition: background-color 2147483647s;
    transition-duration: 120s;
}


.input-container{
    display: flex;
}
.input-text{
    display: flex;
    flex-direction: column;
    margin-right: 1px;
}
.input-box{
    height: 1.3rem;
    width: 4.5rem;
    padding: 2px 0;
    outline: none;
}
.desc-text{
    text-align: left;
    font-size: 10.5px;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.08em;
    padding: 3px 0 0 ;
}
.cents-input{
    height: 1.2rem;
    width: 18px;
}

.o-input{
    width: 48.5%;
}

/* #street-address{
    width: 100%;
    height: 1.3rem;
    
} */
.input-address{
    display: flex;
    flex-direction: column;
    padding: 0 0 12px 0;
}
.two-columns{
    display: flex;
    gap: 25px;
}
.row{
    display: flex;
    flex-direction: column ;
    width: 50%;
    padding: 0 0 18px;
}
/* .title-section{
    padding: 12px 6px 0;
    margin: 0px 0px 3px; 
} */

.name-input{
    height: 1.2rem;
    width: 4.8rem;
}

.margins{
    margin: 0 5px 0 0;
}

.desc{
    text-align: center;
}
.s-input{
    height: 1.1rem;
    width: 1.7rem;
}

.p-input-1{
    height: 1.3rem;
    width: 1.3rem;
}
.p-input-2{
    height: 1.3rem;
    width: 1.9rem;
}
input{
    border-top: 1.2px solid #242323;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
    background-color: white;
    padding: 3px 0 ;
    border-radius: 0px ;
    box-shadow: inset 0px 0.4px 0.2px 0px rgba(0, 0, 0, 0.2);
}
input:active{
    border-radius: 2px;
    border: 1px solid black;
}
.button{
    width: auto ;
    position: relative;
    font-size: 100%;
    padding: 0px 7px ; 
    border-radius: 3px;
    outline-color: #d3d1d1;
    background-color: #F0f0f0;
    
}
.button:hover{
    background-color: #e2e2e2;
    border-color: #414141;    
    
    
}
#purpose-for-loan:focus-within{
    background-color: #FFF7C0;
    
}

#loan-amount:focus-within{
    background-color: #FFF7C0;
}
#property-types:focus-within{
    background-color: #FFF7C0;
}
#property-value:focus-within{
    background-color: #FFF7C0;
}

#property-location:focus-within{
    background-color: #FFF7C0;
}

#down-payment:focus-within{
    background-color: #FFF7C0;
}

#current-mortgage:focus-within{
    background-color: #FFF7C0;
}

#refer-agent:focus-within{
    background-color: #FFF7C0;
}

#age:focus-within{
    background-color: #FFF7C0;
}

#occupation:focus-within{
    background-color: #FFF7C0;
}

#current-job:focus-within{
    background-color: #FFF7C0;
}

#house-hold-income:focus-within{
    background-color: #FFF7C0;
}

#credit-rating:focus-within{
    background-color: #FFF7C0;
}

#name-section:focus-within{
    background-color: #FFF7C0;
}

#address-location:focus-within{
    background-color: #FFF7C0;
}

#phone-number:focus-within{
    background-color: #FFF7C0;
}

#alternate-phone-number:focus-within{
    background-color: #FFF7C0;
}

#email-address:focus-within{
    background-color: #FFF7C0;
}

.text{
    font-size: 14px;
    color: #777575;
    padding: 20px 30px;
    font-family: National\ 2, sans-serif;
}
.text a{
    color: #007faa;
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-text{
    color: #585858;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-text a{
    text-decoration: none;

}
.content img{

    margin-top: 5px;
    height: 40px;
    width: 100px;
    

}
.bottom{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #606060; 
    font-size :12px;
    padding: 0 0 3.125rem;
    text-underline-offset:none;
}




.forms h4{
    font-weight: 100;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:  4rem 0 5.1rem 0;
    text-align: center;
    margin: 0 1em;
}